{{#extend "layout"}}
{{#content "styles"}}
<style>

</style>
{{/content}}
{{#content "content"}}
<div class="h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="card">
            <div class="card-header">
                <h1>Invitation to Organization {{organization.name}}</h1>
            </div>

            <div class="card-body">
                <div id="error">
                </div>
                <div id="success">
                </div>

                <div id="content-box" class="d-flex flex-column align-items-center">
                    <p>Hey {{user.username}}! {{host.username}} invited you to Organization {{organization.name}}</p>
                    <button id="submit" type="button" class="btn btn-primary" onclick="onClick()">Accept</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const errorBanner = document.getElementById("error");
    const successBanner = document.getElementById("success");
    const content = document.getElementById("content-box");

    const url = new URL(window.location.href);
    const code = url.searchParams.get("code");

    async function onClick(e) {
        try {
            errorBanner.innerHTML = "";
            successBanner.innerHTML = "";

            const response = await fetch(`/api/invite/organization/${code}`, {
                method: "POST"
            });


            if (!response.ok) {
                const text = await response.text();

                throw new Error(`Fail: Code '${response.status}' Message: '${response.statusText} ${text}'`)
            }


            errorBanner.innerText = "Success";
            errorBanner.classList.add("alert");
            errorBanner.classList.add("alert-success");
            errorBanner.setAttribute("role", "alert");
            content.remove()
        } catch (error) {
            errorBanner.innerText = error.message;
            errorBanner.classList.add("alert");
            errorBanner.classList.add("alert-danger");
            errorBanner.setAttribute("role", "alert");
        }
    }
</script>
{{/content}}
{{/extend}}