.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.profile-pic {
    min-height: 200px;
    min-width: 200px;
    max-height: 200px;
    max-width: 200px;
}

.profile-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    min-width: 200px;
    max-height: 200px;
    max-width: 200px;
}