.result-pane > div {
    max-height: 120vh;
    overflow: scroll;
    font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    font-size: 16px;
    line-height: 2em;
} 
  
.CodeMirror {
    max-height: 120vh;
    height: auto;
    font-size: 16px;
    line-height: 2em;
}
  
pre {
    border: 1px solid #ccc;
}
  
blockquote {
    color: #666;
    margin: 0;
    padding-left: 3em;
    border-left: 0.5em #eee solid;
}
  
tr {
  border-top: 1px solid #c6cbd1;
  background: #fff;
}

th,
td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

table tr:nth-child(2n) {
  background: #f6f8fa;
}
  