.editor-input {
  font-size: 1.2rem !important;
}

.hljs {
  font-size: 1.0rem !important;
  line-height: 1.4rem;
  padding: 0.3rem;
}

code {
  font-weight: 100;
}

.CodeMirror-lines {
  overflow-wrap: break-word !important;
}

.editor-output > h1, h2, h3, h4, h5 {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
} 

.editor-output > h1 {
  font-size: 1.3rem;
}
.editor-output > h2 {
  font-size: 1.2rem;
}
.editor-output > h3 {
  font-size: 1.1rem;
}
.editor-output > h4 {
  font-size: 1.0rem;
}
.editor-output > h5 {
  font-size: 0.9rem;
}
.editor-output > h6 {
  font-size: 0.8rem;
}

.CodeMirror {
    height: auto;
}
  
.editor-output > pre {
    border: 1px solid #ccc;
    margin-top: 0.7rem;
}
  
blockquote {
    color: #666;
    margin: 0;
    padding-left: 3em;
    border-left: 0.5em #eee solid;
}
  
tr {
  border-top: 1px solid #c6cbd1;
  background: #fff;
}

th,
td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

table tr:nth-child(2n) {
  background: #f6f8fa;
}
  