.editor-input {
  font-size: 1.1rem !important;
  position: inherit !important;
}

.editor-output {
  font-size: 1.0rem !important;
}

.CodeMirror-lines {
  overflow-wrap: break-word !important;
}

.editor-output > h1, h2, h3, h4, h5 {
  margin: initial;
  font-size: inherit;
  margin-top: 0.3rem;
}

.CodeMirror {
    height: auto;
}
  
pre {
    border: 1px solid #ccc;
}
  
blockquote {
    color: #666;
    margin: 0;
    padding-left: 3em;
    border-left: 0.5em #eee solid;
}
  
tr {
  border-top: 1px solid #c6cbd1;
  background: #fff;
}

th,
td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

table tr:nth-child(2n) {
  background: #f6f8fa;
}
  