
.project-filter {
    max-height: 50px;
}

.project-filter-card:hover {
    background-color: #007BFF;
    cursor: pointer;
    color: white;
}

.project-filter-card-date {
    cursor: pointer;
}

.project-filter-card-arrow:hover {
    cursor: pointer;
    color: #007BFF;
}

.project-list-item {
    cursor: pointer;
    font-size: 0.8rem;
}

.project-list-item:hover {
    cursor: pointer;
    border-color: #007BFF;
}