.navbar-profile {
    max-width: 25px;
    max-height: 25px;
}

.navbar-profile-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25px;
    min-width: 25px;
    max-height: 25px;
    max-width: 25px;
    color: black;
}

.navbar-notification-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25px;
    min-width: 25px;
    max-height: 25px;
    max-width: 40px;
    color: black;
}

.navbar-signout-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25px;
    min-width: 25px;
    max-height: 25px;
    max-width: 25px;
    color: red;
}

.navbar-login-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25px;
    min-width: 25px;
    max-height: 25px;
    max-width: 25px;
    color: green;
}

.navbar-signup-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25px;
    min-width: 25px;
    max-height: 25px;
    max-width: 25px;
    color: #00ACEA
}

.navbar-search-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30px;
    min-width: 30px;
    max-height: 30px;
    max-width: 30px;
    border-radius: 15px;
}

.navbar-no-decoration {
    text-decoration: none !important;
}

.navbar-item {
    color: #007BFF;
}

#collasible-nav-dropdown {
    color: #007BFF;
}