{{#extend "layout"}}
{{#content "styles"}}
<style>

</style>
{{/content}}
{{#content "content"}}
<div class="h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="card">
            <div class="card-header">
                <h1>Something went wrong!</h1>
            </div>

            <div class="card-body">
                <p class="text-center">{{error.message}}</p>
            </div>
        </div>
    </div>
</div>
{{/content}}
{{/extend}}