.user-list-container {
    overflow-y: auto;     
}

.user-list-card {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    border-color: #077BFF;
    border-width: .3rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.profile-pic {
    min-height: 200px;
    max-height: 200px;
    min-width: 200px;
    max-width: 200px;
}

.profile-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    min-width: 200px;
    max-height: 200px;
    max-width: 200px;
}

.profile-box-text {
    font-size: 0.8rem;
}

.profile-tab-numbers-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25px;
    min-width: 25px;
    max-height: 25px;
    max-width: 40px;
    color: black;
}